<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Master Regression Suite" parallel="tests" thread-count="2">

    <listeners>
        <listener class-name="utils.listener.TestListener"/>
    </listeners>


    <test name="Chrome Checkout Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testcase.LoginTests"/>
            <class name="testcase.CheckoutTests"/>
        </classes>
    </test>

    <test name="Firefox Checkout Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="testcase.LoginTests"/>
            <class name="testcase.CheckoutTests"/>
        </classes>
    </test>
</suite>